.container{
    background: #ffff;
    padding-left: 12%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1rem;
}

.large-container{
    padding-left: 5%;
}

@media(max-width:800px){
    .container, .large-container{
        padding:0 5%;
    }
}