.recommended{

    flex-basis: 30%;
    padding: 0 2%;
}

.recomVideo{
    margin: 1rem 0;
    img{
        border-radius: 8px;
    }
    .video-info{
        h4{
            padding: 0;
        }
    }
}




.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    img{
        flex-basis: 49%;
        width: 50%;

    }

    .video-info{
        padding-top: 6px;
        flex-basis: 49%;

        h4{
            font-size: 16px;
            margin-bottom: 6px;
        }
        p{
            padding: 2px 0;
        }
    }
}


@media(max-width:800px){
    .recommended{
        flex-basis: 100%;
    }
}